force-app/main/default/flows/Lead_Opt_Out_from_AppExchange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AppX_Description</name>
        <label>Parse Description</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>LeadSourceDescriptionParsingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Communication_Preference_Set</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadSourceDescriptionParsingAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Communication_Preference_Set</name>
        <label>Communication Preference Set?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Communication_Preference_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppX_Description.contactPreferenceSpecified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Opt Out from AppExchange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Opt Out from AppExchange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Opt_Out</name>
        <label>Set Opt Out</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>AppX_Description.preventContactOtherProducts</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;lead_description&quot;</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AppX_Description</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
