force-app/main/default/flows/Lead_UTM_Param_Campaign_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AppX_Description</name>
        <label>Parse Description</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>LeadSourceDescriptionParsingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Campaign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadSourceDescriptionParsingAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>FindCampaignByUtmAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Campaign_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>utmCampaign</name>
            <value>
                <elementReference>AppX_Description.utmCampaign</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utmContent</name>
            <value>
                <elementReference>AppX_Description.utmContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utmMatchOrder</name>
            <value>
                <stringValue>UTM_Source__c,UTM_Medium__c,UTM_Content__c,UTM_Campaign__c,UTM_Term__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utmMedium</name>
            <value>
                <elementReference>AppX_Description.utmMedium</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utmSource</name>
            <value>
                <elementReference>AppX_Description.utmSource</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utmTerm</name>
            <value>
                <elementReference>AppX_Description.utmTerm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindCampaignByUtmAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Campaign_Found</name>
        <label>Campaign Found?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Campaign_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Campaign.campaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_to_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - UTM Param Campaign Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - UTM Param Campaign Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Lead_to_Campaign</name>
        <label>Add Lead to Campaign</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Find_Campaign.campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;utm_parameters&quot;</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AppX_Description</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
